<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #87CEEB;
  color: navy;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  padding: 16px 32px;
}
.button:hover {
  background-color: #87CEFA
  color: white
}
</style>
</head>
<body>
<center><button class="button button1">Click for cuteness</button></center>
</body>
</html>
